<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Найдись на ask.fm</title>
    <style type="text/css">
        main {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-top: 100px;
            font-family: Arial;
            text-align: center;
        }
    </style>
</head>
<body>
    <main>
        <h2>Добрый день. Это краткое руководство для API.</h2>
        <h3>Вы можете узнать регистрировался ли кто-то с email адреса на сайте ask.fm</h3>
        <h4>Для этого используйте ссылку вида:</h4>
        <h3>
            <xmp>http://host_name/askAPI/find_email/<email></xmp>
        </h3>
            <h4>method: GET, response format: JSON</h4>
        <p>Используйте интересующий Вас email для получения информации.</p>
        <br>
    </main>
</body>
</html>